/* This main css file contains the default rules and is geared toward the small/phone view.
CSS will use flexbox exlusively and CSS grid box*/

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Muli', 'Montserrat', sans-serif;  /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 64em; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: auto;
}

/*---------------------HEADER---------------------*/

.site-header {
    display: flex;
    flex-direction: row;
    background-color: #71C1FF;
}

.site-header picture.logo {
    align-self: center;
    flex: 0 1 auto;
    margin: 2%;
    padding: .25rem;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.site-header .headings h1,
.site-header .headings h4 {
    color: #004B85;
    flex: 0 1 auto;
    padding: .25rem;
}

.site-header .headings h1 {
    align-self: center;
    font-size: 1.5em;
    text-align: center;
    margin: .50em .50em 0em .50em;
}

.site-header .headings h4 {
    align-self: center;
    text-align: center;
    font-size: 0.75em;
    margin: 0em .50em .50em .50em;
}

/*---------------------NAV---------------------*/

.topnav {
    
    background-color: #333;    
}

.topnav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.topnav {
    flex: 0 1 auto;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    font-size: 1em;
    text-decoration: none;
}

.topnav a:hover {    
    background-color: #ddd;
    color: black;    
}

.active {    
    background-color: #cf7600;
    color: white;    
}

.topnav a.icon {    
    display: none;    
}

@media screen and (max-width: 37.5em) {    
    .topnav a {display: none;}
    .topnav a.icon {
        display: flex; 
  }    
}

@media screen and (max-width: 37.5em) {
    
    .topnav.responsive {
        display: flex;
        flex-flow: column wrap;
    }
    .topnav.responsive a.icon {
        position: absolute;
  }
    .topnav.responsive a {
        display: block;
        text-align: left;
  }
    .topnav.responsive a.childnav {
        margin-left: 5rem;
  }
    
}

/*---------------------MAIN FRANKLIN---------------------*/

main {    
    background-color: #004B85;    
}

/*current-weather*/

@media screen and (max-width: 37.5em) {    
    .weather-image {               
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: center;
    }
    
    .weather-image h2 {        
        text-align: center;
        color: #71C1FF;
        font-size: 2em;
        margin: 0.75rem;
    }
    
    .weather-image img {
        margin: 2%;
    }
    
    .weather-summary {        
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 2%;        
    }
    
    .current, .highlow, .conditions, .windchill {
        border: 5px solid white;
        padding: 0.5rem;
        background-color: #cf7600;
    }
    
    .highlow p, .conditions p, .windchill p {
        text-align: center;
        line-height: 0.25em;
        color: #fff;
        font-size: 1.2em;
    }
    
    .current {        
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        justify-content: center;
        align-items: center;        
    }
    
    .current h4 {
        font-size: 1.5em;
        color: #fff;
    }
    
    .current picture img {        
        width: 50%;
    }    
}

/*forecast*/

@media screen and (max-width: 37.5em) {    
    .forecast {        
        display: none;        
    }    
}

/*article*/

@media screen and (max-width: 37.5em) {    
    article {        
        display: flex;
        flex-flow: column wrap;
    }
    
    article h3 {        
        text-align: center;
        color: #71C1FF;
        font-size: 1.5em;        
    }
    
    article img {        
        width: 100%;
        padding: 2%;        
    }
    
    article .town-article {        
        margin: 2%;
        color: #71C1FF;        
    }    
}

/*---------------------MAIN GALLERY---------------------*/

@media screen and (max-width: 37.5em) {
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.gallery-grid .weather-gallery figure {
    max-width: 100%;
    margin: 2%;
    padding: 2%;
}

.gallery-grid .weather-gallery figcaption {
    max-width: 100%;
    margin: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #71C1FF;
    font-size: 0.75em;
}

/*.gallery-grid .weather-gallery img:hover {
    box-shadow: 5px 5px 5px #CF7600;
}*/

.gallery-grid .weather-gallery img {
    border-radius: 10px 10px;
    border: 5px solid #FFBE67;
    width: 100%;
    height: 300px;
}

/*----------------MAIN STORM CENTER---------------*/

main h1 {
    color: #71C1FF;
    margin: 0rem 2%;
    padding: 1rem 0;
}

form fieldset {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #71C1FF;
    margin: 1rem 2% 1rem 2%;
}

form legend {
    color: #fff;
    font-weight: bolder;
    margin: 0 1rem;
    padding: 0.5rem;
    background-color: #004B85;
    border: 1px solid lightgray;
    border-radius: 10px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 0.8rem;
}

form label.top input, form label.top select {
    /*-webkit-appearance: none;*/
    display: block;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
    max-width: 20rem;
}

form div.storm-severity-rating {
    display: flex;
    width: 100%;
    max-width: 20rem;
    padding-top: 0;
}

form div.slider-element {
    width: 8%;
    font-size: 1rem;
    align-self: center;
    padding: 0.5rem;
}

form input#rating {
    padding: 0;
    width: 68%;
}

form div#ratingValue {
    margin-left: 0.5rem;
    color: #CF7600;
    background-color: white;
    border-radius: 20px;
    width: 14%;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #CF7600;
    font-size: 1.5rem;
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
}

form textarea.form-txt-area {
    display: block;
    width: 100%;
    max-width: 20rem;
    height: 7.5rem;
    border-radius: 4px;
    padding: 0.75rem;
    margin-top: 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #cf7600;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 2% 1rem 2%;
    width: 96%;
    max-width: 15rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*---------------------THANKS---------------------*/

main h1, main p {
    color: #71C1FF;
    margin: 0rem 2%;
    padding: 1rem 0;
}

/*---------------------FOOTER---------------------*/

footer {    
    position: static;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding-top: 10px;    
}

footer .footer-bar {        
    background-color: #000000;
    color: #ffffff;
    padding-top: 10px;
}