@media only screen and (min-width: 37.5em) {
    
    /*600px*/

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    /*main {        
        background-color: #004B85;        
    }*/

/*-----------------------MAIN HOME-----------------------*/

    .banner-area figure {
        width: 100%;
        max-height: 630px;
    }
    
    .banner-area figure img {
        width: 100%;
        max-height: 630px;
    }
    
    .nav-cards {
        width: 60%;
        display: block;
        margin: auto;
    }
    
/*---------------------MAIN SALES---------------------*/
    
    .sales-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 2%;
    }
    
    .sales-gallery {
        width: 60%;
        display: block;
        margin: auto;
    }
  }